.container {
  max-width: 116.7rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    margin: 0;
  }
}

.margin-right-m {
  margin-right: 6rem;
}
